<head>
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://vignette.wikia.nocookie.net/linefriends/images/b/bc/Line-brown-bear-sticker.png/revision/latest?cb=20140924093653">
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style>
		.navbar-static-top,
		.footer{
			background-color: #FFC6C5;
		}
		.navbar-brand>img{
			height: 51px;
		}
		body{
			background-color: lavender;
			color: black;
		}
		.navbar-nav>li>a{
			color: black;
		}
		a.navbar-brand {
			padding-top: 0px;
		}
		.content{
			padding-top: 4em;
		}
		.content-chef>div{
			margin-bottom: 1em;
		}
		.text-muted{
			font-size: 16px;
		}
		.footer{
			padding: 15px;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	</style>
    
    <body >
            <header class="navbar-static-top">
                    <nav class="navbar">
                        <div class="container">
                          
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                            <a href="index.html">About Me</a>
                                    </li>
                                    <li>
                                            <a href="skill.html">Skill</a>
                                    </li>
                                    <li>
                                            <a href="contact.html">Contact Me</a>
                                    </li>
                                    <li>
                                            <a href="portfolio.html">Portfolio</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
            

        <h1 align="center">About Me</h1>
        <img class="center" width="200px;" height="200px;" src="https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.0-9/18119202_10208861297665808_2279044649040544193_n.jpg?_nc_cat=0&oh=3acef92192a07ad9892562ebb233e5bb&oe=5B707C64">
   <br>
        <div class="a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
        </p>
        </div>
        <footer class="footer">
                <div class="container text-center">
                    <span> ABOUT ME</span>
                </div>
            </footer>
    </body>
</head>
<style>
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.a {
    text-indent: 50px;
}
</style>